.jumbotron {
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #D3D3D3;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 765px) {
  .jumbotron {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60rem;
}

footer, .jumbotron {
  background-color: #F0F8FF;
  
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
border-top: 1px solid #D3D3D3;
}

footer p {
  margin-bottom: .25rem;
}

footer .container {
  max-width: 80rem;
}


.about-card  tr, td {
  font-size:125%;
}


.about-text {
  float:left;
  flex-grow: 100;

}

.about-card tr, td {
  padding:1rem;
}

.about-title {
  width:10rem;
  font-size:175%;
}




.about-title, .about-content {
  display:table-cell;
  vertical-align: middle;
  padding:0.5rem;
}




img.funding {
  height:5rem;
  margin:0.2rem;
}

.anchor {
   display: block;
    position: relative;
    top: -6rem; /** offset for header **/
    visibility: hidden;
}

img.example {
  width:24rem;
}

.media-body {
  margin-left:2rem;
  margin-right:2rem;  
  margin-bottom:4rem;
}


.media-item, .media-body {
  float:left;
  max-width:30rem;
}

.card {
  margin-bottom:2rem;
  padding:1rem;
}

.inline-logo {
  max-height: 2.0rem;
  margin-bottom:0.4rem;
}

.card-media {
  height:16rem;
}

.card-media img, video {
  position: relative;
  top: 50%;
  
  left:50%;
  transform: translate(-50%, -50%);

}


.card-deck .card {
  min-width:310px;
  margin:1rem;
}

.media-row {
  width:100%;
  display:table-row;
}


.media-item img {
    max-width:100%;
  }


@media (max-width:765px) {
  .media-item img {
    max-width:100%;
  }
  .media-body {
    width:100%;
    margin-left:0px;

  }

  .about-title, .about-content {
  display:inline-block;
}


}